* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right,#0A174B,#0E225F);
  overflow-x: hidden;
width:100%;
height:100%;
margin: 0;
}

#maincontainer {
  height:100%;
  margin: 0!important;
  background-image: url(../images/wing.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

#headercontainer, #bodycontainer, #footercontainer {
  width: 100%;
  margin: 40px 0 0;
}

#headerarea, #bodyarea {

  margin: auto;
  width:1080px;
  height: 100%;
  background-color:rgba(255,255,255,0.9);
  padding: 30px 30px 0;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
#headerarea {
  position: relative;
}
h1 {
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
h1 span {
  font-size:60px;
}
h2 {
  text-transform: uppercase;
  border: 2px solid black;
  display: inline-block!important;
  padding: 20px;
}
h2:hover {
  background-color: #0E225F;
  color:#FFF;
}
.topnav {
  position: absolute;
  bottom: 0;
  right:12px;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.contentsection p{
  padding: 30px 60px;
}
.contentsection:first-child p{
  padding: 0;
}


.teamfirstline {
  flex: 0 0 100%;
  display: flex;
  text-align:center;
}
.teamimg {
  width:100%;
  text-align: center;
}
.teamimg img {
  border: 2px solid #0E225F;
}
.teamsection {
  flex:0 0 18%;
  padding: 6px;
  margin: auto;
}
#team {
}
.sticky {
  position: fixed;
  top:0;

  bottom: inherit;
}
#footerarea {
  position: relative;
  bottom: 0;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    padding: 40px 30px;
    display: flex;
    align-content: space-around;
}
.sponsorimg  {
  text-align: center;
  flex: 0 0 18%;
  max-width:18%;
}
.sponsorimg img {
  flex: 0 0 70%;
  max-width:70%;
  max-height: 80px;
}


/* Galerie photo */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
